*,
*::after,
*::before {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 0.5rem;
}

input {
  color: inherit;
}

body {
  background-color: #121212;
  color: hsl(0, 0%, 90%, 1);
}

.header {
  margin-bottom: 2rem;
}

.logo {
  max-width: 30%;
  min-width: 300px;
  margin: 0 auto;
}

.search-pokemon-input {
  display: block;
  background: rgba(33, 33, 33, 0.55);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(74, 74, 74, 0.12);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0.75rem;
  width: 250px;
  margin: 2rem auto;
}

.img-container {
  height: 150px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
}

img {
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.loading-icon {
  width: 50px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  min-height: 260px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  padding: 1rem;
  background: rgba(33, 33, 33, 0.55);
  box-shadow: 0px 0px 5px 2px #444444;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(74, 74, 74, 0.12);
  transition: all 0.5s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card:hover > .img-container > img {
  transform: scale(1.15);
}

.stats {
  margin: 0px;
  transition: all 0.5s;
  height: 0px;
  overflow: hidden;
}

.id {
  margin: 0;
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}
